{% extends "network/layout.html" %}
{% load static %}

{% block body %}

    <h1>{{ username }}</h1>

    <!-- Follow / unfollow button if not the current user's profile page -->
    {% if user.username != username %}
        <div id="follow_button_div">
            <button type="submit" id="">Follow</button>
        </div>
    {% endif %}

    <div id="follow_details">
        <div>
            <strong id="follower_count">{{ follower_count }}</strong>
            <p>Followers</p>
        </div>
        <div>
            <strong>{{ following_count }}</strong>
            <p>Following</p>
        </div>
    </div>

    <h4>Posts</h4>
    <div id="posts">

    </div>

{% endblock %}